# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/

# Virtual environments
venv/
.env
.env.*

# =========================
# FastAPI / Logs
# =========================
*.log

# =========================
# Node / Next.js
# =========================
node_modules/
.next/
out/
dist/

# =========================
# OS / Editor
# =========================
.DS_Store
Thumbs.db

# VS Code
.vscode/

# =========================
# ML artifacts (later)
# =========================
ml/artifacts/
